# Need improve following example for normal user.
'atom-text-editor.narrow[data-grammar="source narrow"]':
  'enter': 'core:confirm'
  # 'ctrl-u': 'narrow-ui:preview-item'
  'ctrl-r': 'narrow-ui:toggle-auto-preview'

'atom-text-editor.narrow.vim-mode-plus.normal-mode[data-grammar="source narrow"]':
  'enter': 'core:confirm'
  'o': 'narrow-ui:open-without-close'
  'q': 'core:close'
  'u': 'narrow-ui:preview-item'
  'r': 'narrow-ui:toggle-auto-preview'

'atom-text-editor.narrow.vim-mode-plus.insert-mode[data-grammar="source narrow"]':
  'enter': 'core:confirm'

# For vim-mode-plus integration
'atom-text-editor.vim-mode-plus-search':
  'ctrl-o': 'vim-mode-plus-user:narrow-lines-from-search'
  'ctrl-cmd-o': 'vim-mode-plus-user:narrow-search'
  'cmd-shift-o': 'vim-mode-plus-user:narrow-search-current-project'
