# Need improve following example for normal user.
'atom-text-editor.narrow.narrow-editor':
  'enter': 'core:confirm'
# 'ctrl-u': 'narrow-ui:preview-item'
  'ctrl-r': 'narrow-ui:toggle-auto-preview'
  'tab': 'narrow-ui:move-to-prompt-or-selected-item'
  'f5': 'narrow-ui:refresh-force'
  'ctrl-l': 'narrow-ui:refresh-force'
  # 'ctrl-cmd-s': 'narrow-ui:update-real-file'

'atom-text-editor.narrow.narrow-editor.fold':
  'cmd-]': 'narrow-ui:fold:increase-fold-level'
  'cmd-[': 'narrow-ui:fold:decrease-fold-level'

'atom-text-editor.narrow.narrow-editor.vim-mode-plus.normal-mode':
  'enter': 'core:confirm'
  'q': 'core:close'
  'o': 'narrow-ui:confirm-keep-open'
  # 'u': 'narrow-ui:preview-item'
  'r': 'narrow-ui:toggle-auto-preview'
  'ctrl-r': 'narrow-ui:refresh-force'

'atom-text-editor.narrow.narrow-editor.vim-mode-plus.insert-mode':
  'enter': 'core:confirm'

# This is for vim-mode-plus search-mini-editor
'atom-text-editor.vim-mode-plus-search':
  'ctrl-l': 'vim-mode-plus-user:narrow-lines-from-search'
  'cmd-/': 'vim-mode-plus-user:narrow-search'
  'ctrl-cmd-/': 'vim-mode-plus-user:narrow-search-current-project'
