# -------------------------
# For every user
# -------------------------
# On every editor
# ---------------------------
'atom-workspace.has-narrow atom-text-editor':
  'ctrl-g': 'narrow:close'
  'ctrl-cmd-i': 'narrow:focus-prompt'
  'ctrl-cmd-f': 'narrow:focus'
  'ctrl-cmd-p': 'narrow:previous-item'
  'ctrl-cmd-n': 'narrow:next-item'

# Only on narrow-editor
# ---------------------------
'atom-text-editor.narrow.narrow-editor[data-grammar="source narrow"]':
  # 'tab': 'narrow-ui:move-to-prompt-or-selected-item'
  'f5': 'narrow:refresh'
  'ctrl-l': 'narrow:refresh'

  # Follow find-and-replace's key-setting
  'alt-cmd-w': 'narrow-ui:toggle-search-whole-word'
  'alt-cmd-c': 'narrow-ui:toggle-search-ignore-case'

'atom-text-editor.narrow.narrow-editor:not(.read-only):not(.autocomplete-active)[data-grammar="source narrow"]':
  'enter': 'core:confirm'

'atom-text-editor.narrow.narrow-editor[data-grammar="source narrow"]:not(.vim-mode-plus)':
  'ctrl-r': 'narrow-ui:toggle-auto-preview'

# narrow-editor.fold
# -------------------------
'atom-text-editor.narrow.narrow-editor.fold[data-grammar="source narrow"]':
  'cmd-]': 'narrow-ui:fold:increase-fold-level'
  'cmd-[': 'narrow-ui:fold:decrease-fold-level'

'atom-text-editor.narrow.narrow-editor.read-only[data-grammar="source narrow"],
  atom-text-editor.narrow.narrow-editor.vim-mode-plus.normal-mode[data-grammar="source narrow"]':
    'enter': 'core:confirm'
    'q': 'core:close'
    'o': 'narrow-ui:confirm-keep-open'
    'r': 'narrow-ui:toggle-auto-preview'
    'i': 'narrow-ui:move-to-prompt'
    'a': 'narrow-ui:move-to-prompt'
    'I': 'narrow-ui:start-insert'
    'n': 'narrow-ui:move-to-next-file-item'
    'p': 'narrow-ui:move-to-previous-file-item'
    'backspace': 'narrow-ui:exclude-file'
    'cmd-backspace': 'narrow-ui:select-files'
    'ctrl-backspace': 'narrow-ui:clear-excluded-files'

'atom-text-editor.narrow.narrow-editor:not(.read-only)[data-grammar="source narrow"]':
  'escape': 'narrow-ui:stop-insert'

'atom-text-editor.narrow.narrow-editor.read-only[data-grammar="source narrow"]:not(.vim-mode-plus)':
  'k': 'core:move-up'
  'j': 'core:move-down'

'atom-text-editor.narrow.narrow-editor[data-grammar="source narrow"],
 atom-text-editor.narrow.narrow-editor.vim-mode-plus.insert-mode[data-grammar="source narrow"]':
    # 'escape': 'narrow-ui:stop-insert'
    'tab': 'narrow-ui:preview-next-item'
    'shift-tab': 'narrow-ui:preview-previous-item'

# -------------------------
# Vim-mode-plus user only
# -------------------------
'atom-text-editor.narrow.narrow-editor.vim-mode-plus.normal-mode[data-grammar="source narrow"]':
  'k': 'vim-mode-plus:move-up-wrap'
  'j': 'vim-mode-plus:move-down-wrap'

'atom-workspace.has-narrow atom-text-editor.vim-mode-plus.normal-mode:not(.has-occurrence)':
  # Can move next/previos from out-side of narrow-editor if workspace has narrow-editor.
  'tab': 'narrow:next-item'
  'shift-tab': 'narrow:previous-item'

# Invoke narrow command from vim-mode-plus's search-mini-editor
# ---------------------------
'atom-text-editor.vim-mode-plus-search':
  'ctrl-l': 'vim-mode-plus-user:narrow:scan'
  'cmd-/': 'vim-mode-plus-user:narrow:search'
  'ctrl-cmd-/': 'vim-mode-plus-user:narrow:search-current-project'

'atom-text-editor.narrow-input':
  'ctrl-/': 'narrow-input:toggle-use-regex'
