'atom-workspace.has-narrow atom-text-editor':
  'ctrl-g': 'narrow:close'
  'ctrl-cmd-i': 'narrow:focus-prompt'
  'ctrl-cmd-f': 'narrow:focus'
  'ctrl-cmd-p': 'narrow:previous-item'
  'ctrl-cmd-n': 'narrow:next-item'
  'ctrl-cmd-[': 'narrow:previous-query-history'
  'ctrl-cmd-]': 'narrow:next-query-history'
  'ctrl-cmd-e': 'narrow:query-current-word'

# On narrow-editor
# ---------------------------
'atom-text-editor.narrow.narrow-editor[data-grammar="source narrow"]':
  'f5': 'narrow:refresh'
  'ctrl-l': 'narrow:refresh'

  # Follow find-and-replace's key-setting
  'alt-cmd-w': 'narrow-ui:toggle-search-whole-word'
  'alt-cmd-c': 'narrow-ui:toggle-search-ignore-case'
  'alt-cmd-/': 'narrow-ui:toggle-search-use-regex'

# narrow-editor.fold
'atom-text-editor.narrow.narrow-editor.fold[data-grammar="source narrow"]':
  'cmd-]': 'narrow-ui:fold-increase-level'
  'cmd-[': 'narrow-ui:fold-decrease-level'

# vmp and non-vmp shared
# -------------------------
'atom-text-editor.narrow.narrow-editor:not(.read-only)[data-grammar="source narrow"]':
  'escape': 'narrow-ui:stop-insert'

'atom-text-editor.narrow.narrow-editor:not(.read-only):not(.autocomplete-active)[data-grammar="source narrow"]':
  'enter': 'core:confirm'

'atom-text-editor.narrow.narrow-editor.prompt:not(.read-only)[data-grammar="source narrow"]':
  'ctrl-u': 'narrow-ui:delete-to-end-of-search-term'
  'tab': 'narrow-ui:preview-next-item'
  'shift-tab': 'narrow-ui:preview-previous-item'

'atom-text-editor.narrow.narrow-editor.read-only[data-grammar="source narrow"]':
  'enter': 'core:confirm'
  'q': 'narrow:close'
  'backspace': 'narrow-ui:exclude-file'
  'cmd-backspace': 'narrow-ui:select-files'
  'ctrl-backspace': 'narrow-ui:clear-excluded-files'

# non-vmp
# -------------------------
'atom-text-editor.narrow.narrow-editor:not(.vim-mode-plus)[data-grammar="source narrow"]':
  'ctrl-r': 'narrow-ui:toggle-auto-preview'

'atom-text-editor.narrow.narrow-editor.read-only:not(.vim-mode-plus)[data-grammar="source narrow"]':
  'o': 'narrow-ui:confirm-keep-open'
  'O': 'narrow-ui:open-here'
  'r': 'narrow-ui:toggle-auto-preview'
  'i': 'narrow-ui:move-to-prompt'
  'a': 'narrow-ui:move-to-prompt'
  'I': 'narrow-ui:start-insert'
  'n': 'narrow-ui:move-to-next-file-item'
  'p': 'narrow-ui:move-to-previous-file-item'

  'k': 'core:move-up'
  'j': 'core:move-down'

# vmp
# ---------------------------------------
'atom-text-editor.narrow.narrow-editor.normal-mode.vim-mode-plus[data-grammar="source narrow"]':
  'k': 'vim-mode-plus:move-up-wrap'
  'j': 'vim-mode-plus:move-down-wrap'
  'o': 'narrow-ui:confirm-keep-open'
  'O': 'narrow-ui:open-here'

'atom-workspace.has-narrow atom-text-editor.vim-mode-plus.normal-mode:not(.has-occurrence)':
  'tab': 'narrow:next-item'
  'shift-tab': 'narrow:previous-item'

# Invoke narrow command from vim-mode-plus's search-mini-editor
# ---------------------------
'atom-text-editor.vim-mode-plus-search':
  'ctrl-l': 'vim-mode-plus-user:narrow:scan'
  'cmd-/': 'vim-mode-plus-user:narrow:search'
  'ctrl-cmd-/': 'vim-mode-plus-user:narrow:search-current-project'
