@import "ui-variables";
@import "syntax-variables";

.round-box () {
  box-sizing: border-box;
  border-radius: @component-border-radius;
  border-width: 1px;
  border-style: solid;
}

atom-text-editor::shadow {
  .narrow-match .region {
    .round-box;
    background-color: transparent;
    border: 1px solid @syntax-result-marker-color;
  }
  .narrow-flash .region {
    // .round-box;
    background-color: @syntax-selection-flash-color;
  }
}
