@import "ui-variables";
@import "syntax-variables";

atom-text-editor .narrow-ui-selected-row {
  /* Take up the full allowed width */
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: @syntax-color-added;
}

@line-marker: fadeout(lighten(@syntax-color-added, 0%), 20%);

atom-text-editor {
  .line.narrow-result {
    box-shadow:0 -7px 0 -6px @line-marker inset;
  }
}

.narrow-search-container {
  display: flex;
  padding: @component-padding/2 @component-padding;
  border: none;
  #narrow-search-input {
    width: 100%;
  }
}

// Hide linumber gutter but still shows icon to fold/un-fold.
// https://discuss.atom.io/t/use-the-gutter-without-enabling-linenumbers/2461/16
.narrow-editor .gutter {
  .line-numbers {
    text-indent: 999em;
    width: 23px;
    overflow: hidden;
    position: relative;
    .icon-right {
      position: absolute;
      left: 0;
      text-indent: 0;
    }
  }
}
